{{define "title"}}Reset Password{{end}}
{{define "content"}}
    <form class="col s12" method="post" action="#">
        {{if .HasErr}}
        <div class='row'>
            <div class='col s12'>
                <span class="err-msg">
                    Error: {{.ErrMsg}}
                </span>
            </div>
        </div>
        {{end}}

        <div class='row'>
            <div class='input-field col s12'>
                <p>Email</p>
                <input class='validate' type='email' name='email' id='email'/>
            </div>
        </div>

        <div class='row'>
            <button type='submit' class='col s12 btn btn-large waves-effect indigo'>
                Send me reset link
            </button>
        </div>
    </form>
{{end}}
{{define "scripts"}}
{{end}}