{{define "title"}}Fill Info{{end}}
{{define "content"}}
    <form class="col s12" method="post" action="#">
        <div class='row'>
            <div class='input-field col s12'>
                <p>Full name</p>
                <input name='full_name' id='full_name' value='{{.FullName}}'/>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <p>Address</p>
                <input name='address' id='address' value='{{.Address}}'/>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <p>Email</p>
                <input type='email' name='email' id='email' value='{{.Email}}'/>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <p>Telephone</p>
                <input type='tel' name='telephone' id='telephone' value='{{.Telephone}}'/>
            </div>
        </div>

        <div class='row'>
            <button type='submit' class='col s12 btn btn-large waves-effect indigo'>
                Save
            </button>
        </div>
    </form>
{{end}}
{{define "scripts"}}
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&load=SuggestView&onload=onLoad"></script>
<script>
function onLoad (ymaps) {
    var suggestView = new ymaps.SuggestView('address');
}
</script>
{{end}}