{{define "title"}}Profile Info{{end}}
{{define "content"}}
        <div class='row center-align'>
            <div class='info-field col s12'>
                <b>Full Name</b>: {{.FullName}}
            </div>
        </div>

        <div class='row center-align'>
            <div class='info-field col s12'>
                <b>Address</b>: {{.Address}}
            </div>
        </div>

        <div class='row center-align'>
            <div class='info-field col s12'>
                <b>Email</b>: {{.Email}}
            </div>
        </div>

        <div class='row center-align'>
            <div class='info-field col s12'>
                <b>Telephone</b>: {{.Telephone}}
            </div>
        </div>

        <div class='row center-align'>
            <div class='info-field col s12'>
                <a href="/secured/profile/fill_info" class='btn btn-large waves-effect indigo'>
                    Edit Profile
                </a>
            </div>
        </div>

        <div class='row center-align'>
            <div class='info-field col s12'>
                <a href="/secured/sign_out" class='btn btn-large waves-effect indigo'>
                    Sign out
                </a>
            </div>
        </div>
{{end}}
{{define "scripts"}}
<script>
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
{{end}}