{{define "layout"}}
<!doctype html>
<html>
  <head>
      <title>{{template "title" .}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, minimal-ui" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <style>
          body {
              display: flex;
              min-height: 100vh;
              flex-direction: column;
              padding-top: 20px;
          }

          main {
              flex: 1 0 auto;
          }

          body {
              background: #fff;
          }

          .input-field input[type=date]:focus + label,
          .input-field input[type=text]:focus + label,
          .input-field input[type=email]:focus + label,
          .input-field input[type=password]:focus + label {
              color: #e91e63;
          }

          .input-field input[type=date]:focus,
          .input-field input[type=text]:focus,
          .input-field input[type=email]:focus,
          .input-field input[type=password]:focus {
              border-bottom: 2px solid #e91e63;
              box-shadow: none;
          }

          .err-msg {
            font-size: 16px;
            color: red;
          }
      </style>
  </head>
  <body>
      <div id="content">
        <div class="container">
          {{template "content" .}}
        </div>
      </div>
    </div>
  </body>
  {{template "scripts" .}}
</html>
{{end}}