{{define "title"}}Main Page{{end}}
{{define "content"}}
    <div class='row'>
    	<a class="auth-btn auth-btn_new-acc col s12 btn btn-large waves-effect indigo" href="/auth/signup">Sign up</a>
    </div>
    <div class='row'>
    	<a class="auth-btn auth-btn_login col s12 btn btn-large waves-effect indigo" href="/auth/login">Login</a>
    </div>
{{end}}
{{define "scripts"}}
{{end}}