{{define "title"}}Set new Password{{end}}
{{define "content"}}
    <form class="col s12" method="post" action="">
        <div class='row'>
            <div class='input-field col s12'>
                <p>New password</p>
                <input type='password' name='password' id='password'/>
            </div>
        </div>

        <div class='row'>
            <button type='submit' class='col s12 btn btn-large waves-effect indigo'>
                Save
            </button>
        </div>
    </form>
{{end}}
{{define "scripts"}}
{{end}}