{{define "title"}}Sent password reset email{{end}}
{{define "content"}}
        <div class='row'>
            <div class='col s12'>
                <p>
                    Password reset email is sent. Check you inbox
                </p>
            </div>
        </div>
{{end}}
{{define "scripts"}}
{{end}}