{{define "title"}}Sign up{{end}}
{{define "content"}}
    <form class="col s12" method="post" action="#">
        <div class='row'>
            <div class='col s12'>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <p>Email</p>
                <input class='validate' type='email' name='email' id='email'/>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <p>Password</p>
                <input class='validate' type='password' name='password' id='password'/>
            </div>
        </div>

        <div class='row'>
            <button type='submit' class='col s12 btn btn-large waves-effect indigo'>
                Sign up
            </button>
        </div>
    </form>
    <div class='row'>
        <div class="btn white darken-6 col s12">
            <a href="/auth/google/login" style="text-transform:none">
                <div class="left">
                    <img width="30px" alt="Google &quot;G&quot; Logo"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                </div>
                Sign up with Google
            </a>
        </div>
    </div>
{{end}}
{{define "scripts"}}
{{end}}